<div class="container">
  <div class="p-grid">

    <div class="p-col-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="p-col-12 p-fluid" >
      <label>Descrição</label>
      <input type="text" pInputText />
    </div>

    <div class="p-col-12">
      <label style="display:block">Vencimento</label>
      <input style="width: 100px" type="text" pInputText>

      <label>até</label>
      <input style="width: 100px" type="text" pInputText>
    </div>

    <div class="p-col-12">
      <button pButton type="submit" class="p-button-raised" label="Pesquisar"></button>
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <p-table [value]="lancamentos" [paginator]="true" [rows]="2">
        <ng-template pTemplate="header">
            <tr>
                <th class="col-pessoa-header">Pessoa</th>
                <th class="col-descricao-header">Descrição</th>
                <th class="col-data-header">Vencimento</th>
                <th class="col-data-header">Pagamento</th>
                <th class="col-valor-header">Valor</th>
                <th class="col-valor-header"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamentos>
            <tr>
              <td>{{ lancamentos.pessoa }}</td>
              <td>{{ lancamentos.descricao }}</td>
              <td class="col-data-content">{{ lancamentos.dataVencimento }}</td>
              <td class="col-data-content">{{ lancamentos.dataPagamento }}</td>
              <td class="col-valor-content" [ngStyle]="{ color: lancamentos.tipo === 'DESPESA' ? 'red' : 'blue'}">{{ lancamentos.valor }} </td>
              <td class="col-acoes">
                <div class="p-grid"><div class="p-col-6">
                <button pButton icon="pi pi-pencil"></button></div><div class="p-col-6">
                <button pButton icon="pi pi-trash"></button></div></div>
              </td>
            </tr>
        </ng-template>
    </p-table>
    </div>

    <div class="p-col-12">
      <button pButton type="submit" class="p-button-raised" label="Novo lançamento"></button>
    </div>
  </div>
</div>
